
*{
    overflow-x: hidden;
    font-family: 'Roboto' !important;


}
.container{
    background-color: #161316f1;
    z-index: -1000;
    display: flex;
    flex-direction: row;
    margin: auto 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.firstCircle, .secondCircle, .thirdCircle {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 3px solid rgba(92, 83, 83, 0.096);
}

.firstCircle{
    height: 120vh;
    width: 60%;
    margin-top: -22rem;
    margin-left: 11rem;
    position: absolute;
}

.secondCircle{
    height: 133vh;
    width: 70%;
    margin-top: -16rem;
    margin-left: 18rem;
    position: absolute;
}
.thirdCircle{
    height: 133vh;
    width: 77%;
    margin-top: -16rem;
    margin-left: 28rem;
    position: absolute;
}


.gallery{
    z-index: 100000;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 98.5%;
    height: 100vh;
    overflow: hidden;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3,1fr);

  grid-auto-rows: 50px;
  grid-row-gap: 310px;
}




.gallery >  div {
    /* transition: 1.3s all; */

    margin-top: 7rem;
    background-color: rgb(92, 20, 20);
    width: 245px;
    height: 245px;
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    opacity: .6;
}
.firstImage{
    background-color: white !important;

    width: 900px !important;
    height: 1200px !important;
    margin-top: -5rem !important;
    margin-left: -21rem;
    background-image: url('./images/image9.jpeg');
    
}
.secondImage{
    background-color: rgb(83, 201, 28) !important;
     margin-left: 12rem;
    background-image: url('./images/image3.jpeg');

}

.thirdImage{
    background-color: rgb(31, 28, 201) !important;
    margin-left: 7.4rem;
    background-image: url('./images/image.jpeg');
    border-top: 8px solid red;
    border-left: 8px solid red;
    border-color: rgb(199, 66, 181) rgba(235, 17, 17, 0.007) rgba(95, 93, 93, 0.267) rgb(202, 44, 202);



}

.fourthImage{
    background-color: rgb(201, 28, 149) !important;
      margin-left: 60rem !important;
      margin-top: 19rem !important;
      position: absolute;
    background-image: url('./images/image1.jpeg');

}

.fifthImage{
    background-color: rgb(28, 152, 201) !important;
    margin-left: 47.1rem !important;
    margin-top: 30rem !important;
    position: absolute;
    background-image: url('./images/image5.jpeg');
    background-position:center -40px !important; 
    border-top: 6px solid red;
    border-left: 6px solid red ;
    border-color: rgb(45, 212, 204) rgb(235, 17, 17) transparent rgb(104, 230, 202);


}
.sixImage{
    margin-left: 73rem !important;
    margin-top: 30rem !important;
    position: absolute;
    background-image: url('./images/image4.jpeg');

}

.contents{
    z-index: 100000000000000000000000;
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f7f7f7;

}
.menus{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}
#logo{
    margin-top: -.3rem;
    margin-left: -12rem;
    color: #f7f7f7c9;
    font-size: 1.5rem;
    font-family: 'Roboto' !important;
    letter-spacing: .1rem;

}
.menuItems{
    display: flex;
   font-size: .6rem;
   letter-spacing: .1rem;
   margin-right: -22rem;
   justify-content: space-between;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menuItems > a{
    color: #928d8d;
     text-decoration: none;
     margin-left: 6rem;
    transition: 1.3s all;
}


.icons{
    margin-right: -4.5rem;
}
svg{
    width: 14px;
    height: 14px;
    margin-left: 2rem;
    fill: #f7f7f783;
}
.title{
    font-family: 'Roboto' !important;
    letter-spacing: .5rem;
    font-size: 3rem;
    margin-top: 15rem;
    margin-left: 5rem;
    color: #f7f7f7e3;
    transition: 1.3s all;

}
#shopBtn{
    text-align: center;
    margin-left: 64rem;
    margin-top: 12rem;
    color: #f7f7f77e;
    font-size: .69rem;
    letter-spacing: .1rem;
    border: 1.2px solid #f7f7f77e;
    width: fit-content;
    border-radius: 15px;
    padding: .34rem 1.26rem;
    cursor: pointer;
    transition: 1.3s all;

}
#shopBtn:hover{

    background-color: #9933a7;
    border-color: transparent;
    color: #f7f7f7;
}