#apartments {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // position: absolute;
    width: 100%;
    height: 155vh;
    // border: 2px solid red;

    .apartment {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 114vh;

        .apartmentsImages {
            position: absolute;
            left: 6px;
            width: 54%;
            top: 230px;
            z-index: 200000;

            img {
                width: 1500px;
                height: 600px;
            }
        }

        .apartmentsText {
            padding-left: 22rem;
            padding-top: 5rem;
            width: 60%;
            position: absolute;
            right: 0px;
            background-color: #c8d9c3;
            z-index: 2;


            h2 {
                padding-top: 6.5rem;
                font-family: 'Caladea', serif;
                font-size: 5rem;
                color: #223f3d;
                width: 30rem;

            }

            h2::before {
                content: "";
                width: 187px;
                height: 47px;
                margin-top: 7.57rem;
                margin-left: 12.2rem;
                display: inline-block;

                position: absolute;
                background-color: white;
                z-index: -33;
            }

            p {
                font-family: Arial, Helvetica, sans-serif;
                color: #223f3dde;
                width: 70%;
                font-size: 15px;
                line-height: 1.7rem;
                margin-top: -2.1rem;
                letter-spacing: .05rem;
            }

            h5 {
                font-family: Arial, Helvetica, sans-serif;
                color: #223f3dfd;
                width: 70%;
                font-size: 12px;
                line-height: 1.7rem;
                letter-spacing: .15rem;
            }

            .bedTypes {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 70%;

                .oneBed {
                    img {
                        margin-top: 0rem;
                        width: 30px;
                        height: 40px;
                    }
                }

                img {
                    margin-top: -.76rem;

                    width: 60px;
                    height: 50px;
                }

                h5 {
                    font-family: Arial, Helvetica, sans-serif;
                    color: #223f3dde;
                    width: 100%;
                    font-size: 11px;
                    line-height: 1.7rem;
                    letter-spacing: .05rem;
                    text-transform: uppercase;
                }

                #textWhite {
                    color: white;
                }
            }



        }
    }

    .tour {
        background: #223f3dec;
        color: white;
        width: 78%;
        height: 21.3vh;
        padding: 1.8rem 4rem 2rem 4rem;
        margin: auto 0;
        align-self: center;
        bottom: 0;
        position: absolute;
        z-index: 50000;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
            padding: 0;
            margin: 0;
            font-family: 'Caladea', serif;
            font-size: 52px;
            line-height: 3.4rem;
        }

        .tourLink {
            width: 32.5rem;
            padding: 0;
            margin: auto 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                background-color: #df7f62;
                text-decoration: none;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11.5px;
                font-weight: bold;
                letter-spacing: .08rem;
                padding: 1.6rem 2.6rem;
            }

            a:hover {
                background-color: white;
                color: #df7f62;
            }
        }
    }
}