#lifeStyle {
  background: #223f3c;
  color: white;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: 170vh;
  margin-top: 12rem;
  padding-top: 10rem;

  .title {
    text-align: center;
    h3 {
      font-size: 0.875rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      margin-bottom: -0.7rem;
    }
    h3::after {
      content: "";
      width: 170px;
      height: 5px;
      margin-top: 1.2rem;
      margin-left: -10.4rem;
      display: inline-block;

      position: absolute;
      background-color: #df7f62;
    }
    h1 {
      position: relative;
      font-size: 4.375rem;
      z-index: 40000;
    }
    h1::before {
      content: "";
      width: 310px;
      height: 45px;
      margin-top: 1.4rem;
      // margin-left: -0.1rem;
      display: inline-block;

      position: absolute;
      background-color: #df7f62;
      z-index: -33;
    }
    a {
      font-size: 0.875rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      border: 1px solid #df7f62;
      padding: 1.3rem 3rem;
      cursor: pointer;
      margin-left: 1.7rem;
      transition: all 1s;
    }
    a:hover {
      background-color: #df7f62;
    }
  }

  .lifeStyleSides {
    // background-color: white;
    height: 1000px;
    z-index: 200000;
    margin-top: 6rem;

    .slideshowContainer {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;

      img {
        width: 500px !important;
        height: 600px;
      }
    }
  }
}
